
<div aria-hidden="true" aria-labelledby="modal-pay-info-label"
     role="dialog" tabindex="-1" id="modal-pay-info" class="modal fade">
    <div class="modal-dialog">


        <div class="modal-content">
            <div class="modal-header">
                <h5>ОПЛАТА ТОВАРА</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="li-style">

    
                    <p>
                        Оплатить товары, заказанные через интернет-магазин <b>NUKESPORTS</b>, Вы можете:
                    </p>
                    <p>
                    </p>
                    <ul>
                        <li>
                            <p>
                                При получении товара в отделении «Новой Почты» или курьером по адресу – оплата наличными или банковской картой «Visa/MasterCard»;
                            </p>
                        </li>
                        <li>
                            <p>
                                Оплата забронированного товара осуществляется только в магазине, в котором был забронирован товар.
                            </p>
                        </li>

                    </ul>
                    <p>
                    </p>

                    <p>
                        <b>БРОНИРОВАНИЕ ТОВАРА В НАШИХ МАГАЗИНАХ</b>
                    </p>
                    <p>
                    </p>
                    <ul>
                        <li>
                            <p>
                                Вы можете забронировать товар, который Вас интересует, связавшись с магазином, в котором есть данный товар в необходимом размере;
                            </p>
                        </li>
                        <li>
                            <p>
                                Товар бронируется на Ваше имя до конца следующего дня, с момента бронирования;
                            </p>
                        </li>
                        <li>
                            <p>
                                Для того чтобы узнать наличие размера в магазинах, Вам необходимо перейти в интересующий товар, дважды кликнуть на конкретный размер, или выбрать размер и нажать кнопку «Наличие в магазинах».
                            </p>
                        </li>
                    </ul>
                    <p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>